<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>carrousel</name>
	<displayName>Carrousel</displayName>
	<version>0.1</version>
	<description>Adds a block for carrousel subscription</description>
	<author></author>
	<tab>Blocks</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>